* {
    box-sizing: border-box;
    font-family: Impact;
    font-size: 2rem;
    font-weight: 300;
    color: #006bb1;
}
h1{
    text-align: center;
}

/*========================================================*/
/*======================    MAP    =======================*/
/*========================================================*/

.level-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.row {
    display: flex;

}
.case {
    height: 8vw;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*========================================================*/
/*======================    WAY    =======================*/
/*========================================================*/

.way1 {
    background-image: url("../assets/img/beach/way/1.png");
    background-position: center;
    background-size: contain;
}
.way2 {
    background-image: url("../assets/img/beach/way/2.png");
    background-position: center;
    background-size: contain;
}

/*========================================================*/
/*=====================    GATES    ======================*/
/*========================================================*/

.gate1 {
    background-image: url("../assets/img/beach/gates/1.png");
    background-position: center;
    background-size: contain;
}
.gate2 {
    background-image: url("../assets/img/beach/gates/2.png");
    background-position: center;
    background-size: contain;
}
.gate3 {
    background-image: url("../assets/img/beach/gates/3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*========================================================*/
/*====================    WEAPONS    =====================*/
/*========================================================*/

.weapon {
    max-width: 7vw;
    max-height: 7vw;
}